<h2><%=h @page ? @page.pretty_title : @wiki.project.name %></h2>

<% form_for :style, :url => {:action => 'update', :project_id => @project, :id => @page ? @page.title : nil}, :html => {:method => :put} do |f| %>
<%= error_messages_for 'style' %>

<p><%= f.text_area :text, :cols => 100, :rows => 25, :class => 'wiki-edit', :accesskey => accesskey(:edit) %></p>
<p><%= submit_tag l(:button_save) %></p>
<% end %>

<% html_title @page ? @page.pretty_title : @wiki.project.name %>
